[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
jupyter = "*"
fastai = "*"
flask = "*"
gunicorn = "*"
seaborn = "*"
google-cloud-storage = "*"
# security updates
Pygments = ">=2.7.4"

[dev-packages]
pylint = "*"

[requires]
python_version = "3"
